.feature-sub{
    border-bottom: 0.5px #80808058 solid;
    padding-top: 3rem;
    .mui-box{
        padding: 3rem 0;
        .mui-grid{
            .mui-item{
                box-shadow: unset;
                background-color: transparent;
                font-size: 1.6rem;
                font-weight: 400;
                .feature-sub-item{
                    img{
                        width: 100%;
                        // height: 334px;
                        height: 280px;
                        border-radius: 7px;
                        position: relative;
                        transition: all .5s;
                        &:hover{
                            scale: 102%;
                           filter: contrast(130%);
                        }
                    }
                    p{
                        color: black;
                        font-weight: 600;
                        text-align: left;
                        line-height: 3.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .feature-sub{
        .mui-box{
            .mui-grid{
                .mui-item{
                    height: 270px;
                    .feature-sub-item{
                        height: 100%;
                        img{
                            height: 74%;
                        }
                        p{
                            margin-top: 1rem;
                            line-height: 2rem;
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:820px) {
    .feature-sub{
        .mui-box{
            .mui-grid{
                .mui-item{
                    height: 240px;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .feature-sub{
        .mui-box{
            .mui-grid{
                .mui-item{
                    .feature-sub-item{
                        height: 100%;
                        img{
                            height: 74%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    .feature-sub{
        .mui-box{
            .mui-grid{
                .mui-item{
                    height: 240px;
                }
            }
        }
    }
}

@media screen and (max-width:414px) {
    .feature-sub{
        .mui-box{
            .mui-grid{
                .mui-item{
                    height: 250px;
                    .feature-sub-item{
                        img{
                            height: 85%;
                        }
                    }
                }
                .mui-grid-item{
                    width: 100%;
                }
            }
        }
    }
}