.feature-sub{
    border-bottom: 0.5px #80808058 solid;
    padding-top: 3rem;
    .mui-box{
        padding: 3rem 0;
        .mui-grid{
            .mui-item{
                box-shadow: unset;
                background-color: transparent;
                font-size: 1.6rem;
                font-weight: 400;
                .feature-sub-item{
                    img{
                        width: 100%;
                        height: 334px;
                        border-radius: 7px;
                        position: relative;
                        transition: all .5s;
                        &:hover{
                            scale: 102%;
                           filter: contrast(130%);
                        }
                    }
                    p{
                        color: black;
                        font-weight: 600;
                        text-align: left;
                        line-height: 3.5rem;
                    }
                }
            }
        }
    }
}