
.location-item{
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 1.8rem;
    margin-top: 2rem;
    i{
        background-color: #8080804c;
        width: 4rem;
        height: 4rem;
        text-align: center;
        line-height: 4rem;
        border-radius: 7px;
    }
    p{
        margin: 0;
    }
}

.mui-box-location{
    height: 500px;
    overflow-y: auto;
}


#modal-modal-title{
    font-size: 1.5rem;
    input{
        background-color: #80808033;
        border: unset;
        outline: unset;
        border-radius: 5px;
        padding: 0 1rem;
    }
}

@media screen and (max-width:576px) {
    .mui-box-location{
        transform: translateX(-50%);
        left: 50%!important;
        top: 8%!important;
    }
}

@media screen and (max-width:480px) {
    .mui-box-location{
        width: 80%!important;
    }
}