///side bar
.side-bar-admin{
    padding: 2rem 3rem 0 3rem;
    a{
        display: block;
        font-size: 2rem;
        margin-top: 3rem;
        color: black;
        i{
            margin-right: 1rem;
        }
    }
}
//menu bar
.mui-iconBtn{
    color: black!important;
    border: unset!important;
    outline: unset!important;
}