.room-list{
    margin-top: 8rem;
    display: flex;
    .room-list-left{
        width: 60%;
        .header-room-list{
            padding: 3rem 2rem;
            .title-room-list{
                h1{
                    margin-bottom: 2rem;
                }
            }
        }
        .room-item-list{
            margin-top: 3rem;
        }
    }
    .room-list-right{
        width: 40%;
        iframe{
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            width: 100%;
            height: 100vh;
        }
    }
}


@media screen and (max-width:992px) {
    .room-list{
        display: block;
        .room-list-left{
            width: 100%;
        }
        .room-list-right{
            width: 100%;
            padding: 0 3rem 3rem 3rem;
            height: 50rem;
            overflow: hidden;
            iframe{
                position: unset;
                height: 100%;
                border-radius: 8px;
            }
        }
    }
}

@media screen and (max-width:414px) {
    .room-list{
        .mui-ui-stack{
            flex-wrap: wrap;
            gap: 8px;
            .mui-ui-chip{
                margin-left: 0px;
            }
        }
        .room-list-right{
            padding: 0 1rem 1rem 1rem;
        }
    }
}